body {
     margin: 20px;
     background-color: rgb(0, 0, 0);
     color: white;
     font-size: 20px;
     text-shadow: rgb(0, 0, 0) 0  0 12px;
 }
 .Contenedor{
     margin: 10px;
     width: 70%;
     margin-left: 15%;
     height: auto;
 }
 .contenedorimg{
     width: 40%;
     margin: 20px;
     height: 100%;
     display: block;
     float: right;
     border-radius: 15px;
     box-shadow: 0 0 8px white;
 }
 .contenedorimg h2{
     font-size: 25px;
     text-align: center;
 }
 .contenedorimg h3{
     font-size: 20px;
     text-align: center;
 }
 .contenedorimg p{
     font-size: 18px;
     padding: 15px;
 }
 .contenedorimg hr{
    width: 100%;
 }  
 img{
     float: right;
     border-radius: 10px;
     width: 90%;
     height: 50%;
     margin: 10px;
}
 h1{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     text-align: center;
     font-size: 55px;
     text-decoration: underline;
 }
 h2{
     font-size: 35px;
     text-decoration: underline;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }
 h3{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 30px;
 }
 p{
     font-size: 25px;
     font-family: Arial, Helvetica, sans-serif;
     padding: 5px;
 }
 li{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
 }
 .listas{
     list-style: circle;
 }
 .Indice{
     padding: 10px;
     display: block;
     list-style: none;
 }
 .Indice a{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    color: aqua;
    text-shadow: rgb(0, 0, 0) 0 0 12px;
    display: block;
    list-style: none;
    text-decoration: none;
    transition: 1s;
}
.Indice a:hover{
    padding: 5px;
    color: rgb(14, 230, 42);
    text-shadow: rgb(0, 0, 0) 0 0 12px;
    display: block;
    list-style: none;
    text-decoration: underline;
}